@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Patrick+Hand&display=swap');


/*Stiluri comune */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;

}

/*Am scazut 1 rem dem la 16 px la 10 px folosind regula de mai jos*/
html{
    font-size: 62.5%;
}

/* Aici incepe sectiunea 1*/

.section1{
    background-color:#222;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;  /*pentru a afisa elementele pe coloana in loc de linie*/
    align-items: center;    /* pentru a afisa elemen. in centrul ecranului*/
    justify-content: space-evenly;  /*pentru a distribui spatiul rams liber pe ecran astefl incat sa fei egal */

}

.section-heading{
    font-size: 11rem;
    font-weight:900;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.5rem #000;     /*lungime, latime, inaltime si culoare (idk ordinea corecta)*/
    letter-spacing:0.3rem;
    text-transform: capitalize;  /* ne face prima litera a fiecarui cuvant in majuscula*/
     
}

.section-1-icons i{
    font-size: 30rem;
    color: sienna;
    position: absolute;
    transform: translate(-50%,-50%) scale(0); /*scale este folosita pentru a scala un element in spatiu 2d. daca punem 2,2 ne va da un element de 2 pe 2 in plan x0y / 
                                                daca punem 0, practic elemetul nostru va di in punctul 0,0 si nu se va afisa deloc*/
    text-shadow: 0.3rem 0.3rem 0.3rem rgb(29, 27, 26);   
    transition: transform 0.8s;                                         
}

/*adaugam aceasta proprietate pentru a afisa doar primul i*/
.section-1-icons i.prima{
    transform: translate(-50%,-50%) scale(1);
}

/*Aici inceope sectiunea 2*/

.section2{
    width: 100%;
    height:100vh;
    background-color:#111;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 9rem 0;
}
.container-card{
    margin-top: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    width: 30rem;
    height:50vh;
    background-color: sienna;
    padding:4rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    /* border-radius: 1.5rem; */
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);  /*am rasucit 20 de grade pe axa Y*/
}

.card::before{
    content: '';
    height: 100%;
    width: 1rem; /*latimea animatiei*/
    background-color:rgb(141, 70, 38);
    position: absolute;
    top: 0;
    left: -1rem; /*cat de mult o dam la stanga pentru ca sa arate bine*/
    transform:skewY(45deg); /* am rotit cu 45 de grade axa Y in directia dreapta , cumva in jos vizual*/
    transform-origin: right;
    box-shadow: -0.2rem -0.2rem -0.2rem black; 


}
.card::after{
    content: '';
    height: 1rem;
    width: 100%;
    background-color:rgb(175, 84, 41);
    position: absolute;
    top: -1rem;
    left: 0;
    transform:skewX(45deg); /* am rotit cu 45 de grade axa X in directia dreapta , cumva in jos vizual*/
    transform-origin: bottom; /*am facut ca transformarea sa inceapa de jos*/
    box-shadow: -0.2rem -0.2rem -0.2rem black; 


}
.card:hover{
    /*am lasat rotate si skew cum erau si am adaugat translateY ca sa mutam cu 3rem mai sus pe axa Y tot cardul*/
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    transition:all 0.5s ease;
    box-shadow: 2rem 2rem 2rem black;
}
.card img{
    width: 100%;
    height:40%;
}
.card-name{
    font-size: 3.5rem;
    font-weight:900;
    letter-spacing:0.5rem;
    color: white;
    margin:2rem 0;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.card-btn{
    width: 70%;
    background-color: #111;
    color: #999;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    border: none;
    padding:0.6rem 0;
    cursor: pointer;
    box-shadow:-0.5rem -0.5rem -0.5rem black;
}
.card-btn:hover{
    /* padding: 0.8rem 0.4rem; */
    font-size: 2rem;
    color:whitesmoke;
    background-color:#222;
    transition: all 0.5s ease;
}


/*Aici incepe sectiunea 3---------------------------------------------*/

.section3{
    /* width: 100%;*/
    height:100vh; 
    padding:5rem 0;
    background-color:#333;
}
.gallery-items{
    /* height: 65vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 5rem;

}
.gallery-link{
    position:relative;
    margin: 3rem 2rem; 
    z-index: 10;
}

/*am facut prima data toate liniile si textul si l-am pus peste imagine in locurile corespunzatoare,
dupa care l-am ascuns, si am setat height si width ca sa fie 0, pentru a ascunde si liniile orizontale si verticale*/
.gallery-link:hover::before{
    height: 85%;
}
.gallery-link:hover::after{
    width: 88%;
}
.gallery-link:hover .food-name{
    width:90%;
    transition: width 1.2s ; /*pentru a parea ca textul este scris normal*/
}
.gallery-link:hover .food-description{
    opacity: 1;
    visibility:visible;
    transition: opacity 0.5s 0.5s;
}
.gallery-link:hover .food-image{
    transition: all 0.5s ease;
    opacity:0.5;
    filter: blur(0.2rem);
    box-shadow: 1rem 1rem 0.1rem #e92,  /*ultima proprietate este blur*/
                2rem 2rem 0.1rem #a2e,
                3rem 3rem 0.1rem red;
    transform: scale(1.1);
}

.gallery-link::before{
    content: ''; /*am setat contentul sa fie null*/
    position: absolute;  /*pozitia absoluta pentru a putea fi peste text si poza*/
    width: 0.2rem;  /*am setat latimea fixa si lungimea procentual, pentru ca este o linia verticala*/
    height:0;
    background-color:white;
    top:2rem;  /*pozitionari pentru a arata bine*/
    left:85%;
    transition: all 0.5s  ease ; /*pentrua a avea un efect de linie care coboara de sus*/
}
.gallery-link::after{
    content: '';
    position: absolute;
    height: 0.2rem; /*aici linia este orizontala, din acest motiv am setat lungimea, iar latimea este procentuala*/
    width:0;
    background-color:#fff;
    top:5rem;
    right:1rem;
    transition: all 0.5s  ease ; /*pentrua a avea un efect de linie care coboara de sus*/
}

.food-image{
    width: 26vw;
    height:25vh;
    object-fit: cover; /*am folosit pentru a face ca imaginea sa fie pe tot spatiul disponibil din containerul sau*/
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92,  /*ultima proprietate este blur*/
                0.5rem 0.5rem 0.1rem #a2e,
                0.8rem 0.8rem 0.1rem red;
    transition: all 0.5s;
}
.food-name{
    position: absolute;
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform:uppercase;
    top:1.5rem;
    width:0;
    left:4rem;
    overflow: hidden;
}
.food-description{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    width: 70%;
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:#fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

/*Aici incepe sectiunea de footer a site-ului----------------------------*/
/*am folosit flexbox in footer pentru a aranja elementele
    am setat space arround pentru a le departe unul de celalalt si am pus paragraful in josul paginii folosind 
    pozitia absoluta 
*/

.section4{
    width:100%;
    height:25vh;
    background-color:#111 ;
    display: flex;
    justify-content: space-around;  /*  le desparte pe fiecare lasand exact acelasi spatiu intre fiecare element*/
    padding:3rem 0;
    align-items: flex-start;
    position: relative;
}
.section4-text{
    text-transform: uppercase;
}
.footer-heading{
    font-size: 4rem;
    font-weight: 900;
    color: orangered;
}
.footer-paragraph{
    font-size:1.6rem;
    color:#999;

}
.signup-form{
    display:flex;
    align-items: center;
}

.signup-form-input{
    margin-top: 1.5rem;
    width:30rem;
    height:4.5rem;
    padding:1rem;
    border:0.2rem solid orangered;
    border-radius: 0.2rem;
    color: orangered;
    font-size:1.6rem;
    font-weight: 600;
    letter-spacing: 0.15rem;

}
.signup-form-input::placeholder{
    color:sienna;
}
.signup-form-btn{
    position: relative;
    left:-4.2rem;
    width: 3.5rem;
    height:3.5rem;
    background-color: #333;
    color: orangered;
    border: none;
    font-size: 1.8rem;
    cursor:pointer;
}
.copyright{
    position:absolute;
    bottom:3rem;
    color: #fff;
    font-size:1.4rem;
    letter-spacing:0.15rem;
    font-weight: 100;
    border-top: 0.11rem solid #999;
    padding-top: 3rem;
    width: 100%;
    text-align: center;
}




/*Aici incepe partea de navbar-------------------------------------------------*/
.navbar{
    width: 100%;
    height: 15vh;
    background-color:#000;
    position: fixed;
    top:-15rem;
    color: #aaa;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0.3rem 0.3rem 0.2rem #111  ;
    transition:top 0.5s ;
}
.navbar.change{
    top:0rem;
    transition:top 0.5s 0.2s;
}
.navbar-link{
    color:#aaa;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: color 0.4s;
}
.navbar-link:hover{
    color: #fff;
}

.navbar-link i{
    font-size:5rem;
}
.navbar-link span{
    font-size: 2.5rem;
    font-weight:900;
    letter-spacing:0.5rem;
    margin-top: 0.5rem;
    margin-left:0.5rem;
}

.menu{
    width: 4rem;
    height:6rem;
    background-color:#000;
    position: fixed;
    top:2rem;
    left:15rem;
    border-radius:30rem 30rem 15rem 15rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black,
                -0.1rem -0.1rem 0.1rem black;
    cursor: pointer;
    transition:top 0.5s 0.2s;  /*a doua proprietate este deelay-ul pe care il acordam pana la tranzitie*/
}
.menu.change{
    top:18rem;
    transition:top 0.5s ;
}
.menu::before{
    content: '';
    width: 0.3rem;
    height: 18rem;
    background-color:#000;
    position: absolute;
    top: -15rem;
    left:1.8rem;

}

@media (max-width:1400px){
    html{
        font-size:50%;
    }
    .section2{
        height: auto;
        padding: 10rem 0 12rem 0;
    }
    .container-card{
        margin-top:10rem;
    }
    .navbar{
        top:-19rem;
    }
    .navbar.change{
        height: 12vh;
    }
    .card{
        height:38vh;
        width:35rem;
    }
    .gallery-link{
        width: 40rem;
        /* height:25rem; */
    }
    .food-image{
        width:100%;
        height:200%;
        margin:2rem;
    }
}
@media (max-width:1200px){
    html{
        font-size:50%;
    }
    .section2{
        height: auto;
        padding: 10rem 0 12rem 0;
    }
    .container-card{
        margin-top:10rem;
    }
    .navbar{
        top:-19rem;
    }
    .navbar.change{
        height: 12vh;
    }
    .card{
        height:38vh;
        width:35rem;
    }
    .gallery-link{
        width: 40rem;
        /* height:25rem; */
    }
    .food-image{
        width:100%;
        height:200%;
        margin:2rem;
    }
}

@media (max-width:1050px){
    .section-heading{
        font-size: 9rem;
        margin: 0 5rem;
    }
    .section-1-icons{
        font-size: 20rem;
    }
    .container-card{
        flex-wrap: wrap;

    }
    .card{
        margin: 5rem;
    }
}

