@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Patrick+Hand&display=swap');


/*Stiluri comune */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;

}

/*Am scazut 1 rem dem la 16 px la 10 px folosind regula de mai jos*/
html{
    font-size: 62.5%;
}

/* Aici incepe sectiunea 1*/

.section1{
    background-color:#222;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;  /*pentru a afisa elementele pe coloana in loc de linie*/
    align-items: center;    /* pentru a afisa elemen. in centrul ecranului*/
    justify-content: space-evenly;  /*pentru a distribui spatiul rams liber pe ecran astefl incat sa fei egal */

}

.section-heading{
    font-size: 11rem;
    font-weight:900;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.5rem #000;     /*lungime, latime, inaltime si culoare (idk ordinea corecta)*/
    letter-spacing:0.3rem;
    text-transform: capitalize;  /* ne face prima litera a fiecarui cuvant in majuscula*/
     
}

.section-1-icons i{
    font-size: 30rem;
    color: sienna;
    position: absolute;
    transform: translate(-50%,-50%) scale(0); /*scale este folosita pentru a scala un element in spatiu 2d. daca punem 2,2 ne va da un element de 2 pe 2 in plan x0y / 
                                                daca punem 0, practic elemetul nostru va di in punctul 0,0 si nu se va afisa deloc*/
    text-shadow: 0.3rem 0.3rem 0.3rem rgb(29, 27, 26);   
    transition: transform 0.8s;                                         
}

/*adaugam aceasta proprietate pentru a afisa doar primul i*/
.section-1-icons i.prima{
    transform: translate(-50%,-50%) scale(1);
}

/*Aici inceope sectiunea 2*/

.section2{
    width: 100%;
    height:100vh;
    background-color:#111;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 9rem 0;
}
.container-card{
    margin-top: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    width: 30rem;
    height:50vh;
    background-color: sienna;
    padding:4rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    /* border-radius: 1.5rem; */
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);  /*am rasucit 20 de grade pe axa Y*/
}

.card::before{
    content: '';
    height: 100%;
    width: 1rem; /*latimea animatiei*/
    background-color:rgb(141, 70, 38);
    position: absolute;
    top: 0;
    left: -1rem; /*cat de mult o dam la stanga pentru ca sa arate bine*/
    transform:skewY(45deg); /* am rotit cu 45 de grade axa Y in directia dreapta , cumva in jos vizual*/
    transform-origin: right;
    box-shadow: -0.2rem -0.2rem -0.2rem black; 


}
.card::after{
    content: '';
    height: 1rem;
    width: 100%;
    background-color:rgb(175, 84, 41);
    position: absolute;
    top: -1rem;
    left: 0;
    transform:skewX(45deg); /* am rotit cu 45 de grade axa X in directia dreapta , cumva in jos vizual*/
    transform-origin: bottom; /*am facut ca transformarea sa inceapa de jos*/
    box-shadow: -0.2rem -0.2rem -0.2rem black; 


}
.card:hover{
    /*am lasat rotate si skew cum erau si am adaugat translateY ca sa mutam cu 3rem mai sus pe axa Y tot cardul*/
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    transition:all 0.5s ease;
    box-shadow: 2rem 2rem 2rem black;
}
.card img{
    width: 100%;
    height:40%;
}
.card-name{
    font-size: 3.5rem;
    font-weight:900;
    letter-spacing:0.5rem;
    color: white;
    margin:2rem 0;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.card-btn{
    width: 70%;
    background-color: #111;
    color: #999;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    border: none;
    padding:0.6rem 0;
    cursor: pointer;
    box-shadow:-0.5rem -0.5rem -0.5rem black;
}
.card-btn:hover{
    /* padding: 0.8rem 0.4rem; */
    font-size: 2rem;
    color:whitesmoke;
    background-color:#222;
    transition: all 0.5s ease;
}


/*Aici incepe sectiunea 3---------------------------------------------*/

.section3{
    /* width: 100%;*/
    height:100vh; 
    padding:5rem 0;
    background-color:#333;
}
.gallery-items{
    /* height: 65vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 5rem;

}
.gallery-link{
    position:relative;
    margin: 3rem 2rem; 
}

/*am facut prima data toate liniile si textul si l-am pus peste imagine in locurile corespunzatoare,
dupa care l-am ascuns, si am setat height si width ca sa fie 0, pentru a ascunde si liniile orizontale si verticale*/
.gallery-link:hover::before{
    height: 85%;
}

.gallery-link::before{
    content: '';
    position: absolute;
    width: 0.2rem;
    height:0;
    background-color:white;
    top:2rem;
    left:85%;
}
.gallery-link::after{
    content: '';
    position: absolute;
    height: 0.2rem;
    width:0;
    background-color:#fff;
    top:5rem;
    right:1rem;
}

.food-image{
    width: 26vw;
    height:25vh;
    object-fit: cover; /*am folosit pentru a face ca imaginea sa fie pe tot spatiul disponibil din containerul sau*/
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92,  /*ultima proprietate este blur*/
                0.5rem 0.5rem 0.1rem #a2e,
                0.8rem 0.8rem 0.1rem red;
}
.food-name{
    position: absolute;
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform:uppercase;
    top:2rem;
    width:0;
    left:4rem;
    overflow: hidden;
}
.food-description{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    width: 70%;
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:#fff;
    opacity: 0;
    visibility: hidden;
}
